<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Main</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div th:text="${message}">
    </div>
    <h2>Statement Form</h2>
    <div>
        <form class="form-horizontal" th:object="${statement}" th:action="@{/main}" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">Account Id:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{accountId}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">from date:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{fromDate}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">to date:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{toDate}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">from amount:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{fromAmount}"/>
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">to amount:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{toAmount}"/>
                </div>
            </div>
            
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
    
    
     <div th:if="${not #lists.isEmpty(statementList)}">
        <h2>Statement List</h2>
        <table class="table table-striped">
            <tr>
            	<th scope="col">Id</th>
                <th scope="col">account id</th>
                <th scope="col">date field</th>
                <th scope="col">amount</th>
                <th scope="col">account number</th>
                       </tr>
            <tr th:each="statement : ${statementList}">
                <td th:text="${statement.id}">Id</a></td>
                <td th:text="${statement.accountId}">accountId</td>
                <td th:text="${statement.dateField}">dateField</td>
                <td th:text="${statement.amount}">amount</td> 
                <td th:text="${statement.accountNumber}">accountNumber</td>                               
                   </tr>
        </table>
        
        

    </div>
    
    <div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
    
    
</div>

</body>
</html>
